!!! 5
html(lang='en')
  head
    title= title  
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js')
  body
    #fixed-panel-page1.ui-responsive-panel
      div(data-role='content')
        p
          | Goal:
          span#goal
          br
          | Measure: 
          span#measure
          br

    script.
      var JSONObject = {
        "goal01":"Educational",
        "goalMeasure":"MBA"};
      document.getElementById("goal").innerHTML=JSONObject.goal01
      document.getElementById("measure").innerHTML=JSONObject.goalMeasure
